Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-slicing,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-*,
  -performance-enum-size,
  -bugprone-easily-swappable-parameters,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-smartptr-get,
  readability-string-compare,

HeaderFilterRegex: 'src/.*\.hpp$'

ExtraArgsBefore:
  - '-isysroot'
  - '/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk'

WarningsAsErrors: ''
